$fa-font-path: '~font-awesome/fonts';


/* A minimal set of Bulma variables to be used in Vue components. */

$white: #fff;
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$blue: hsl(217, 71%, 53%);

$link: $blue;


/* Override responsive variable to get a more fixed layout. */
